In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

In [2]:
# Import hourly weather data
hourlyWeather = pd.read_csv('hly175.csv', parse_dates=['date'])
# Filter dataframe by date
hourlyWeather = hourlyWeather[hourlyWeather.date >= '2019-01-01']

# Ensure data is in crolological order
hourlyWeather.sort_values('date',inplace=True)
# Keep only needed columns
hourlyWeather = hourlyWeather[['date','temp','wetb','dewpt','vappr','rhum','msl']]
hourlyWeather

                      date temp wetb dewpt vappr rhum     msl
134807 2019-01-01 00:00:00  9.6  7.8   5.6   9.1   76  1035.1
134808 2019-01-01 01:00:00  8.6  7.1   5.3   8.9   79  1035.1
134809 2019-01-01 02:00:00  8.3  6.9   5.3   8.9   81  1034.9
134810 2019-01-01 03:00:00  9.1  7.6   5.8   9.2   79  1035.5
134811 2019-01-01 04:00:00  9.2  7.7   5.9   9.3   79  1035.7
...                    ...  ...  ...   ...   ...  ...     ...
162523 2022-02-28 20:00:00  2.9  2.1   0.9   6.5   86  1025.5
162524 2022-02-28 21:00:00  1.9  1.4   0.6   6.4   91  1026.3
162525 2022-02-28 22:00:00  0.8  0.5  -0.2   6.0   93  1027.2
162526 2022-02-28 23:00:00  0.7  0.4   0.0   6.1   94  1027.6
162527 2022-03-01 00:00:00 -0.2 -0.5  -1.0   5.7   93  1028.4

[27721 rows x 7 columns]

In [3]:
hourlyWeather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27721 entries, 134807 to 162527
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    27721 non-null  datetime64[ns]
 1   temp    27721 non-null  object
 2   wetb    27721 non-null  object
 3   dewpt   27721 non-null  object
 4   vappr   27721 non-null  object
 5   rhum    27721 non-null  object
 6   msl     27721 non-null  object
dtypes: datetime64[ns](1), object(6)
memory usage: 1.7+ MB

In [4]:
hourlyWeather.replace(',', '', regex=True, inplace=True)

In [5]:
hourlyWeather.temp = hourlyWeather.temp.astype(float)

In [6]:
hourlyWeather[['temp', 'wetb', 'dewpt', 'vappr', 'rhum', 'msl']].astype(int)
hourlyWeather.sort_values('date',inplace=True)

In [7]:
hourlyWeather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27721 entries, 134807 to 162527
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    27721 non-null  datetime64[ns]
 1   temp    27721 non-null  float64
 2   wetb    27721 non-null  float64
 3   dewpt   27721 non-null  float64
 4   vappr   27721 non-null  float64
 5   rhum    27721 non-null  int64
 6   msl     27721 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 1.7 MB

In [8]:
# Pedestrian Counts
# 2019 Counts
pedCount2019 = pd.read_excel('dcc-2019-pedestrian-footfall-count-jan-dec_14082020.xlsx')
pedCount2019 = pedCount2019.resample('60min', on='Time').sum()
pedCount2019.reset_index(inplace=True)
pedCount2019.rename(columns={'Time':'date'}, inplace=True)

# 2020 Counts
pedCount2020 = pd.read_csv('jan-dec-2020-ped-data.csv')
pedCount2020.rename(columns={'Date & Time':'date'}, inplace=True)

# 2021 Counts
pedCount2021 = pd.read_csv('2021-jan-dec-dcc-footfall.csv')
pedCount2021.rename(columns={'Date and Time':'date'}, inplace=True)

In [9]:
# Convert object to datetime
pedCount2019.date = pd.to_datetime(pedCount2019.date)
pedCount2020.date = pd.to_datetime(pedCount2020.date)
pedCount2021.date = pd.to_datetime(pedCount2021.date)

In [10]:
# Merge two datasets into one
pedCount= pd.concat([pedCount2019, pedCount2020])
pedCount.sort_values('date', inplace=True)
pedCount.reset_index(drop=True, inplace=True)

pedCount

,date,O'Connell St Outside Pennys,O'Connell St Outside Clerys,Mary Street,Capel Street,Aston Quay,Grafton Street @ CompuB,Talbot Street North,"Doilier Street, Burgh Quay",Dawson Street Replacement,...,Westmoreland Street East,Dawson Street,Liffey Street,Westmoreland Street West,Grafton Street,Bachelors Walk,College Green @ Church Lane,College Green - Dame St Side,Capel Street - Removed from site 20/10,Dame Street (Counter Missing)
0,2019-01-01 00:00:00,1504.0,1914.0,163.0,238.0,0.0,0.0,0.0,0.0,0.0,...,1670.0,255.0,881.0,1988.0,140.0,0.0,0.0,0.0,NaN,NaN
1,2019-01-01 01:00:00,1187.0,885.0,102.0,173.0,0.0,0.0,0.0,0.0,0.0,...,767.0,209.0,723.0,1270.0,215.0,0.0,0.0,0.0,NaN,NaN
2,2019-01-01 02:00:00,1233.0,984.0,63.0,121.0,0.0,0.0,0.0,0.0,0.0,...,642.0,193.0,1010.0,1589.0,210.0,0.0,0.0,0.0,NaN,NaN
3,2019-01-01 03:00:00,1316.0,935.0,59.0,174.0,0.0,0.0,0.0,0.0,0.0,...,582.0,178.0,772.0,1534.0,204.0,0.0,0.0,0.0,NaN,NaN
4,2019-01-01 04:00:00,802.0,390.0,46.0,82.0,0.0,0.0,0.0,0.0,0.0,...,143.0,35.0,197.0,610.0,88.0,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17539,2020-12-31 19:00:00,284.0,298.0,NaN,NaN,11.0,255.0,700.0,1399.0,121.0,...,70.0,NaN,194.0,296.0,136.0,204.0,123.0,97.0,NaN,NaN
17540,2020-12-31 20:00:00,200.0,207.0,NaN,NaN,30.0,204.0,325.0,1515.0,81.0,...,44.0,NaN,153.0,274.0,85.0,91.0,64.0,59.0,NaN,NaN
17541,2020-12-31 21:00:00,155.0,148.0,NaN,NaN,139.0,191.0,533.0,1285.0,129.0,...,38.0,NaN,86.0,288.0,94.0,85.0,71.0,48.0,NaN,NaN
17542,2020-12-31 22:00:00,149.0,142.0,NaN,NaN,162.0,179.0,478.0,886.0,120.0,...,35.0,NaN,66.0,168.0,82.0,44.0,62.0,35.0,NaN,NaN
17543,2020-12-31 23:00:00,109.0,119.0,NaN,NaN,86.0,112.0,594.0,1643.0,67.0,...,65.0,NaN,67.0,155.0,102.0,97.0,44.0,22.0,NaN,NaN

In [11]:
# Training and testing dataset
df = pd.merge_asof(pedCount, hourlyWeather, on='date')

In [12]:
df

,date,O'Connell St Outside Pennys,O'Connell St Outside Clerys,Mary Street,Capel Street,Aston Quay,Grafton Street @ CompuB,Talbot Street North,"Doilier Street, Burgh Quay",Dawson Street Replacement,...,College Green @ Church Lane,College Green - Dame St Side,Capel Street - Removed from site 20/10,Dame Street (Counter Missing),temp,wetb,dewpt,vappr,rhum,msl
0,2019-01-01 00:00:00,1504.0,1914.0,163.0,238.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,9.6,7.8,5.6,9.1,76,1035.1
1,2019-01-01 01:00:00,1187.0,885.0,102.0,173.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,8.6,7.1,5.3,8.9,79,1035.1
2,2019-01-01 02:00:00,1233.0,984.0,63.0,121.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,8.3,6.9,5.3,8.9,81,1034.9
3,2019-01-01 03:00:00,1316.0,935.0,59.0,174.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,9.1,7.6,5.8,9.2,79,1035.5
4,2019-01-01 04:00:00,802.0,390.0,46.0,82.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,9.2,7.7,5.9,9.3,79,1035.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17539,2020-12-31 19:00:00,284.0,298.0,NaN,NaN,11.0,255.0,700.0,1399.0,121.0,...,123.0,97.0,NaN,NaN,3.9,3.6,3.1,7.6,94,1009.8
17540,2020-12-31 20:00:00,200.0,207.0,NaN,NaN,30.0,204.0,325.0,1515.0,81.0,...,64.0,59.0,NaN,NaN,4.2,3.8,3.2,7.7,93,1010.6
17541,2020-12-31 21:00:00,155.0,148.0,NaN,NaN,139.0,191.0,533.0,1285.0,129.0,...,71.0,48.0,NaN,NaN,4.4,4.0,3.4,7.8,93,1011.1
17542,2020-12-31 22:00:00,149.0,142.0,NaN,NaN,162.0,179.0,478.0,886.0,120.0,...,62.0,35.0,NaN,NaN,4.4,3.8,2.9,7.5,89,1011.8
17543,2020-12-31 23:00:00,109.0,119.0,NaN,NaN,86.0,112.0,594.0,1643.0,67.0,...,44.0,22.0,NaN,NaN,4.5,3.8,2.8,7.4,88,1012.5